body {
    /*background-image: url('https://source.unsplash.com/random/?national%20parks'); */
    background-color: rgba(10, 34, 10, 0.849);
    background-repeat: no-repeat;
    background-size: 100%;

    text-align: center;
}

#searchBar {
    background-color: rgba(46, 107, 46, 0.5);
    width: 20%;
    padding: 0 0 .75em 0;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2em;
}

#header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(46, 107, 46, 0.7);
    border-radius: 10px 10px 0 0;
    /* -webkit-text-stroke: black 1px; */
    color: white;
    font-size: large;
}

#parkSearch {
    box-sizing: border-box;
    width: 90%;

    font-size: larger;
   
}

#submitSearch {
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: larger;
}

map img {
    width: 70%;
}

#nav {
  display: flex;
  width: 100%;
  text-align: center;
  background-color: rgba(46, 107, 46, 0.5);
  font-size: larger;
  align-self: flex-start;
}

#return:hover {
  background-color: rgb(173, 173, 173);
}

#return {
  background-color: rgb(161, 236, 161);
  opacity: .5;
  text-align: center;
  font-size: large;
  align-items: flex-start;
}

#currentpark { 
    margin-left: auto;
    margin-right: auto;
}

#maincontainer {
 display: flex;
 justify-content: space-between;
 margin: 20px;
 border: 4px black;
}

#parkcontainer {
display: inline-block;
flex-direction: row;
border: 4px black;
justify-content: center;
width: 30%;
height: 60vh;
text-align: center;
background-color: #5cb85c;
opacity: .5;
}

#sidecontainer {
  display: inline-block;
  justify-content: center;
  flex-direction: row;
  height: 60vh;
  width: 40%;
  text-align: center;
  background-color: #5cb85c;
opacity: .5;
}

#map{
    height:75vh;
    width:75vw;
    
    margin: 0 auto;

}





body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  /* z-index: 1; /* Sit on top */
  /* left: 0;
  top: 0; */
  width: 75%; 
   height: 75%; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);


  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  height: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
  }

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}


